.mainContainer {
  width: 100%;
  padding: 3rem;
}
.container {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 0.5rem 1rem;
  margin: auto;
}

.header {
  background-color: #ec684a;
  color: #fff;
  text-align: left;
}

.product {
  display: flex;
  align-items: flex-start;
}

.product > img {
  width: 6rem;
  margin-right: 1rem;
  cursor: pointer;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product_info h4,
h5 {
  margin-bottom: 0.8rem;
  text-align: left;
  font-weight: 500;
}

.product_info p {
  color: #ec684a;
  cursor: pointer;
}

.counter {
  width: 25%;
  text-align: center;
}

.counter span {
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  padding: 0.2rem 1rem;
}

.counter > span:nth-child(1),
span:nth-child(3) {
  cursor: pointer;
  background-color: #eeeeee;
}

.counter > span:nth-child(1):hover,
span:nth-child(3):hover {
  background-color: #dddddd;
}

.totalContainer {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 1rem;
  margin: auto;
  justify-content: flex-end;
}

.totalContainer > p {
  width: 15%;
  text-align: center;
}

button {
  width: 30%;
  outline-width: 0;
  border: none;
  background-color: #ec4b27;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.product_details button:hover {
  background-color: #da3d1a;
}
